<!DOCTYPE HTML>
<html>
	<head>
		<title>Follow Extension</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<meta name="google-site-verification" content="KSALVhIXSI7Z6uy2obRU-nvpgIn6Fj9sUSd54viJyNw" />
		<!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/prettydropdown.css" />
		<link rel="stylesheet" href="assets/css/main.css" />
		<link rel="icon" type="image/png" href="favicon.png">
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
	</head>
	<body>
		<img src="favicon.png" id="logo"/>

		<div id="container"></div>

		<script type="text/template" id="template">
			<section id="menu">
				<ul>
					<li>
						<a href="#about" class="button scrolly">{{ menu.about }}</a>
					</li>
					<li>
						<a href="#service" class="button scrolly">{{ menu.service }}</a>
					</li>
					<li>
						<a href="#project" class="button scrolly">{{ menu.project }}</a>
					</li>
					<li>
						<a href="#community" class="button scrolly">{{ menu.community }}</a>
					</li>
					<li>
						<select id="langSelect" name="lang" class="pretty" onchange="langChange(value)">
							<option value="en">English</option>
							<option value="ko">한국어</option>
							<option value="ja">日本語</option>
							<option value="zh">中文</option>
						</select>
					</li>
				</ul>
			</section>

			<section id="header" class="dark">
				<header>
					<h1>{{ header.title }}</h1>
					<p>{{ header.content }}</p>
				</header>
				<footer>
					<a href={{ header.path }} class="button scrolly">{{ header.paper }}</a>
				</footer>
			</section>

			<section id="about" class="main">
				<header>
					<div class="container">
						<h2>{{ content.header.title }}</h2>
						<p>{{ content.header.content }}</p>
					</div>
				</header>
				<div class="content dark style1 featured">
					<div class="container">
						<div class="row">
							<div class="4u 12u(narrow)">
								<section id="features">
									<span class="feature-icon"><span class="icon fa-gift"></span></span>
									<header>
										<h3>{{ content.features.first.title }}</h3>
									</header>
									<p>{{ content.features.first.content }}</p>
								</section>
							</div>
							<div class="4u 12u(narrow)">
								<section>
									<span class="feature-icon"><span class="icon fa-bolt"></span></span>
									<header>
										<h3>{{ content.features.second.title }}</h3>
									</header>
									<p>{{ content.features.second.content }}</p>
								</section>
							</div>
							<div class="4u 12u(narrow)">
								<section>
									<span class="feature-icon"><span class="icon fa-users"></span></span>
									<header>
										<h3>{{ content.features.third.title }}</h3>
									</header>
									<p>{{ content.features.third.content }}</p>
								</section>
							</div>
						</div>
					</div>
				</div>
			</section>

			<section class="main">
				<header>
					<div id="service" class="container">
						<h2>{{ service.header.title }}</h2>
						<p>{{ service.header.content }}</p>
					</div>
				</header>
				<div id="coinbine" class="content dark style3">
					<div class="container">
						<div>
							<h4>{{ service.content.title }}</h4>
							{% for paragraph in service.content.paragraphs %}
							<p>{{ paragraph }}</p>
							{% endfor %}
						</div>
						<ul id="coinbine-icons" class="icons">
							<li><a href="https://coinbine.com" target="_blank" class="icon fa-chrome"><span class="label">{{ service.content.icons.web }}</span></a></li>
							<li><a href="https://play.google.com/store/apps/details?id=com.berry.coinbine&hl=ko" target="_blank" class="icon fa-android"><span class="label">{{ service.content.icons.android }}</span></a></li>
							<li><a href="https://itunes.apple.com/kr/app/coinbine-%EC%BD%94%EC%9D%B8-%EC%95%94%ED%98%B8%ED%99%94%ED%8F%90-%EC%A0%95%EB%B3%B4/id1237286551?mt=8" target="_blank" class="icon fa-apple"><span class="label">{{ service.content.icons.ios }}</span></a></li>
						</ul>
					</div>
				</div>
			</section>

			<section id="project" class="main">
				<header>
					<div class="container">
						<h2>{{ project.header.title }}</h2>
						<p>{{ project.header.content }}</p>
					</div>
				</header>
				<div class="content style1 dark">
					<div class="container">
						<section>
							<header>
								<h3>{{ project.content.title }}</h3>
							</header>
						</section>
						<section>
							{% for quote in project.content.blockquotes %}
							<blockquote> {{ quote }} </blockquote>
							{% endfor %}
						</section>
					</div>
				</div>
			</section>

			<section id="members" class="main">
				<header>
					<div id="team" class="container">
						<h2>{{ team.title }}</h2>
					</div>
					<div>
						{% for member in team.members %}
						<div class="member">
							<img class="member-pic" src="{{ member.pic }}" alt="" />
							<div class="member-name">{{ member.name }}</div>
							<div class="member-title">{{ member.title }}</div>
							<div class="member-task">{{ member.task }}</div>
						</div>
						{% endfor %}
					</div>
				</header>
			</section>

			<section id="community" class="main">
				<header>
					<div class="container">
						<h2>Token Presale</h2>
						<p>0x354caa098bc5efc957880c49354164481e97f764</p>
						<p>1 ETH = 800 FOLLOW </p>
						<h4>By November 30, 23:00 (KST)</h4>
					</div>
				</header>
			</section>

			<section id="powered" class="main">
				<header>
					<div class="container">
						<h2>{{ poweredBy }}</h2>
					</div>
				</header>
				<div class="content style4 featured">
					<div class="container 75%">
						<form method="post" action="#">
							<div class="row">
								<div class="12u">
									<img src="images/ether.svg" width="200em"/>
									<img src="images/truffle.png" width="130em"/>
									<img src="images/logo-zeppelin.png" width="350em"/>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>

			<section id="community" class="main">
				<header>
					<div class="container">
						<h2>{{ community.header.title }}</h2>
						<p>{{ community.header.content }}</p>
					</div>
				</header>
				<div class="content style4 featured">
					<div class="container 75%">
						<form method="post" action="#">
							<div class="row">
								<div class="12u">
									<ul class="icons">
										<li><a href="https://twitter.com/FollowExtension" target="_blank" class="icon fa-twitter"><span class="label">{{ community.content.twitter }}</span></a></li>
										<li><a href="https://join.slack.com/t/followextension/shared_invite/enQtMjQ4MTg4OTM0MTQ5LTc5M2Y5NTE1YzU5ZTRkMzdmMDU5MzBjMTdhNjQ1MzI5MTcxZjIwMmVhYmIwOWJiY2Y4OWY5NTQxMzFlYzg3Y2E" target="_blank" class="icon fa-slack"><span class="label">{{ community.content.slack }}</span></a></li>
										<li><a href="https://github.com/FollowExtension" target="_blank" class="icon fa-github"><span class="label">{{ community.content.github }}</span></a></li>
									</ul>
								</div>
							</div>
						</form>
					</div>
				</div>
			</section>

			<section id="footer">
				<div class="copyright">
					<ul class="menu">
						<li>{{ copyright }}</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
					</ul>
				</div>
			</section>
		</script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
		<script src="assets/js/jquery.scrolly.min.js"></script>
		<script src="assets/js/jquery.prettydropdown.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/nunjucks/3.0.1/nunjucks.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/skel/3.0.1/skel.min.js"></script>
		<script src="assets/js/util.js"></script>
		<script>window.ga=function(){ga.q.push(arguments)};ga.q=[];ga.l=+new Date;ga('create','UA-108227792-1','auto');ga('send','pageview')</script><script src="https://www.google-analytics.com/analytics.js" async="" defer=""></script><script async="" src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
		<!--[if lte IE 8]><script src="https://cdnjs.cloudflare.com/ajax/libs/respond.js/1.4.2/respond.min.js"></script><![endif]-->
		<script src="assets/js/main.js"></script>
	</body>
</html>
